@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Opciones</h1>
    
    <h3>@Html.ActionLink("Libros", "Index", "Libros")</h3>
    <h3>@Html.ActionLink("Categorias", "Index", "Categorias")</h3>
    <h3>@Html.ActionLink("Idiomas", "Index", "Idiomas")</h3>
    
</div>